.container {
    min-height: 100vh;
    color: white;
  }
  
  .header {
          display: flex;
          align-items: center;
        justify-content: space-between;
        padding: 5px 20px;
        color: white;
        border-bottom: 4px solid rgba(255, 255, 255, 0.2);
  }
  .caveat {
    font-size: 14px;
    opacity: 0.8;
    margin-top: 2px;
  }
  .clearButton {
    background: #CB2C2A;
  }
  
  .title {
    font-size: 1.25rem;
    font-weight: 600;
  }
  

  .themeButton {
    color: white;
  }
  
  .footer{
  }

  .main {
    max-width: 48rem;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .messageList {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 5rem;
  }
  
  .messageContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .message {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(0, 109, 170, 0.2);
   
  }

  .logo {
    display: flex;
    flex-direction: row;
  }
.icon {
  height: 50px;
  width: 50px;
}
  .detectedLanguage {
    font-size: 0.875rem;
    color: #1F2421;
    margin-top: 0.5rem;
  }
  
  .translation {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(42, 157, 144, 0.8);
  
  }
  
  .translationLabel {
    font-size: 0.875rem;
    color: #1F2421;
    margin-bottom: 0.25rem;
  }
  
  .translateButton {
    align-self: flex-start;
  }
  
  .inputContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    background-color: #22223B;
    opacity: 0.8;
    border-top: 1px solid #1f2937;

  }
  


  .inputWrapper {
    max-width: 48rem;
    margin: 0 auto;
    display: flex;
    gap: 0.5rem;
  }
  
  .languageSelect {
    width: 180px;
    background-color: rgb(34, 34, 59, 0.5);
    border-color: #1f2937;
    
  }
  
  .inputGroup {
    flex: 1;
    display: flex;
    gap: 0.5rem;
  }
  
  .input {
    flex: 1;
    background-color: rgb(73, 113, 158, 0.3);
    border-color: #006DAA;
    color: white;
  }
  
  .input::placeholder {
    color: #CFD2B2;
  }
  
  .sendButton {
    background-color: #2563eb;
  }
  
  .sendButton:hover {
    background-color: #1d4ed8;
  }
  
  .sendIcon {
    height: 1rem;
    width: 1rem;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1); 
    font-size: 10px;
    color: white;
}

  @media (max-width: 640px) {
    .inputWrapper {
      flex-direction: column;
    }
  
    .languageSelect {
      width: 100%;
    }
  }
  
  